<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>College | National Engineering Database</title>

    {% load staticfiles %}

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,100italic' rel='stylesheet' type='text/css'>

    <link href="{% static 'institutes_db/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'institutes_db/css/custom.css'%}" rel="stylesheet">
    <link href="{% static 'institutes_db/css/jquery.dynatable.css'%}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">National Engineering Database</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <div class="row text-center alert alert-success">
            <div class="col-md-12 col-sm-12 ">
                <h1>National Engineering Database</h1>
                <p>Welcome to the National Engineering Database!</p>
            </div>
        </div>
        <div class="row text-center">
            <div id="data-table" class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 alert alert-success">
                <h3>College Details</h3>
                <br/>
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
                        <img class="img img-rounded" src="{% static 'institutes_db/images/college/' %}{{id}}.jpg" alt="College Image">
                    </div>
                </div>
                <br/>
                <table class="table table-hover table-striped">
                    <tbody>
                        {% if college %}
                            <tr>
                            <td>Name</td>
                            <td>{{college.college_name}}</td>
                            </tr>
                        {% endif %}
                        {% if address %}
                            <tr>
                                <td>Address</td>
                                <td>{{address.address}}</td>
                            </tr>
                        {% endif %}
                        {% if contact %}
                            <tr>
                                <td>Contact Name</td>
                                <td>{{contact.contact_name}}</td>
                            </tr>
                            <tr>
                                <td>Contact Phone</td>
                                <td>{{contact.ph_no}}</td>
                            </tr>
                        {% endif %}
                        {% if located %}
                            <tr>
                                <td>City</td>
                                <td>{{located.city}}</td>
                            </tr>
                            <tr>
                                <td>State</td>
                                <td>{{located.state}}</td>
                            </tr>
                        {% endif %}
                        {% if links %}
                            <tr>
                                <td>Link</td>
                                <td><a href="{{links.web_page}}">{{links.web_page}}</a></td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row text-center alert alert-success">
                <div class="col-lg-12">
                    <p>Copyright &copy; National Engineering Database Management</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <script src="{% static 'institutes_db/js/jquery.js' %}"></script>
    <script src="{% static 'institutes_db/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'institutes_db/js/jquery.dynatable.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(
            $('#data-table').dynatable()
        );
    </script>

</body>

</html>
