<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Data | National Engineering Database</title>

    {% load staticfiles %}

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,100italic' rel='stylesheet' type='text/css'>

    <link href="{% static 'institutes_db/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'institutes_db/css/custom.css'%}" rel="stylesheet">
    <link href="{% static 'institutes_db/css/jquery.dynatable.css'%}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">National Engineering Database</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <div class="row text-center alert alert-success">
            <div class="col-md-12 col-sm-12 ">
                <h1>National Engineering Database</h1>
                <p>Welcome to the National Engineering Database!</p>
                {% if profile_name %}
                    <p>Browsing as : <strong>{{ profile_name | upper }}</strong></p>
                {% else %}
                    <p>Browsing without profile</p>
                {% endif %}
                </p>
            </div>
        </div>

        <!-- Table -->
        <div class="row text-center well">

            <table id="data-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        {% if colleges %}
                        <th><strong>College</strong></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for college in colleges %}
                    <tr>
                        <td>{{college.college_name}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row text-center alert alert-success">
                <div class="col-lg-12">
                    <p>Copyright &copy; National Engineering Database Management</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <script src="{% static 'institutes_db/js/jquery.js' %}"></script>
    <script src="{% static 'institutes_db/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'institutes_db/js/jquery.dynatable.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(
            $('#data-table').dynatable()
        );
    </script>

</body>

</html>
